.mainLanguage {
    display: flex;
    flex-direction: column !important;
    // justify-content: space-between !important;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 0.1rem solid #252525;
    margin-left: 5vw;
    h2 {
        // margin-top: 5%;
        font-size: 3.5rem;
        margin-bottom: 5%;
        border-bottom: 0.1rem solid #252525;
        padding-bottom: 1.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .languageButtons {
        margin-bottom: 5%;
        button {
            font-size: 2rem;
            color: white;
            background-color: black;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 7.5rem;
            padding-right: 7.5rem;
            border: 0.1rem solid #252525;
            border-radius: 1rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}