@keyframes languages-Animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainLanguage {
    display: flex;
    flex-direction: column !important;
    margin-top: 0rem;
    display: flex;
    width: 95vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 0.1rem solid #252525;
    h2 {
        opacity: 0;
        animation: languages-Animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
        font-size: 3.5rem;
        margin-bottom: 5%;
        border-bottom: 0.1rem solid #252525;
        padding-bottom: 1.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        @media (max-width: 768px) {
            font-size: 3rem;
            text-align: center;
            border: none;
            margin-bottom: 10%;
            max-width: 70%;
        }
    }
    .languageButtons {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        opacity: 0;
        animation: languages-Animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-delay: 1000ms;
        @media (max-width: 768px) {
            margin-bottom: 10rem;
            justify-content: center;
        }
        button {
            font-size: 2rem;
            color: white;
            background-color: black;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 7.5rem;
            padding-right: 7.5rem;
            border: 0.1rem solid #252525;
            border-radius: 1rem;
            margin-left: 3rem;
            margin-right: 3rem;
            @media (max-width: 768px) {
                font-size: 1.6rem;
                padding: 1.5rem 3rem;
            }
        }
    }
}