@keyframes skills-Animation {
    0% {
        opacity: 0;
        transform: perspective(100px) translateZ(10px);
    }
    100% {
        opacity: 1;
        transform: perspective(100px) translateZ(0px);
    }
}
@keyframes skillsTitle-Animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainSkills {
    display: flex;
    flex-direction: column !important;
    // justify-content: space-between !important;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 0.1rem solid #252525;
    @media (max-width: 768px) {}
    h2 {
        opacity: 0;
        animation: skillsTitle-Animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
        margin-top: 5%;
        font-size: 5rem;
        margin-bottom: 5%;
        font-weight: 800;
        padding-bottom: 1.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        text-align: center;
        border-bottom: 0.1rem solid #252525;
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }
    .technologies {
        opacity: 0;
        animation: skills-Animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-delay: 1000ms;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 7.5%;
        text-align: center;
        
        &__html {
            color: #F0652A;
            // background-color: #f0652a34 !important;
            // animation: skills-Animation;
            // animation-duration: 125ms;
            // animation-fill-mode: forwards;
            // animation-delay: 500ms;
            &:hover {
                background-color: #f0652a34;
                transition: all 250ms ease;
            }
        }
        &__css {
            color: #2A65F1;
            // background-color:#2a66f134 !important;
            // animation: skills-Animation;
            // animation-duration: 125ms;
            // animation-fill-mode: forwards;
            // animation-delay: 750ms;
            &:hover {
                background-color:#2a66f134;
                transition: all 250ms ease;
            }
        }
        &__js {
            color: #FEDA3E;
            // background-color: #fedb3e34 !important;
            // animation: skills-Animation;
            // animation-duration: 125ms;
            // animation-fill-mode: forwards;
            // animation-delay: 1000ms;
            &:hover {
                background-color: #fedb3e34;
                transition: all 250ms ease;
            }
        }
        &__sass {
            color: #CB6799;
            // background-color: #cb679934 !important;
            // animation: skills-Animation;
            // animation-duration: 125ms;
            // animation-fill-mode: forwards;
            // animation-delay: 1250ms;
            &:hover {
                background-color: #cb679934;
                transition: all 250ms ease;
            }
        }
        &__react {
            color: #62DAFC;
            // background-color: #62dbfc34 !important;
            // animation: skills-Animation;
            // animation-duration: 125ms;
            // animation-fill-mode: forwards;
            // animation-delay: 1500ms;
            &:hover {
                background-color: #62dbfc34;
                transition: all 250ms ease;
            }
        }
        &__node {
            color: #669D63;
            // background-color: #669d6334 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 1750ms;
            &:hover {
                background-color: #669d6334;
                transition: all 250ms ease;
            }
        }
        &__mongodb {
            color: #4B9848;
            // background-color: #4b984834 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 2000ms;
            &:hover {
                background-color: #4b984834;
                transition: all 250ms ease;
            }
        }
        &__mysql {
            color: #036185;
            // background-color: #03608534 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 2250ms;
            &:hover {
                background-color: #03608534;
                transition: all 250ms ease;
            }
        }
        &__vercel {
            color: #FFFFFF;
            // background-color: #ffffff34 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 2500ms;
            &:hover {
                background-color: #ffffff34;
                transition: all 250ms ease;
            }
        }
        &__heroku {
            color: #41009A;
            // background-color: #40009a34 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 2750ms;
            &:hover {
                background-color: #40009a34;
                transition: all 250ms ease;
            }
        }
        &__git {
            color: #F46523;
            // background-color: #f4652334 !important;
            // animation: skills-Animation;
            // animation-duration: 250ms;
            // animation-fill-mode: forwards;
            // animation-delay: 3000ms;
            &:hover {
                background-color: #f4652334;
                transition: all 250ms ease;
            }
        }
        span {
            cursor: default;
            background-color: black;
            transition: all 250ms ease;
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 2rem;
            width: 15%;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            border: 0.1rem solid #2525258f;
            padding: 1.5rem;
            border-radius: 1rem;
            @media (max-width: 768px) {
                padding: 0.5rem;
                width: 25%;
                font-size: 1.6rem;
                margin-top: 1.25rem;
                margin-bottom: 1.25rem;
            }
        }
    }
}